body{
    background-image: url(contact.jpg);
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
}

.logo{
    width: 78px;
    height: 53px;
    margin-top: -17px;
    margin-left: 13px;
}

.mar{
    margin-left: 400px;
}