body{
    background-image: url(main.jpg);
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
}

.logo{
    width: 78px;
    height: 53px;
    margin-top: -17px;
    margin-left: 13px;
}

.photos{
    width: 70%;
    height: 70%;
    margin-left: 100px;
}

.p4{
    width: 70%;
    height: 335px;
    margin-left: 100px;
    margin-top: 15px;
}

.photos:hover{
    box-shadow:20px 20px 10px black;
    transform: scale(1.12);
    opacity: 0.95;
    
}

.p4:hover{
    box-shadow: 20px 20px 10px black;
    transform: scale(1.12);
    opacity: 0.95;
}

